<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Instant Video Replay</title>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>

    <div class="replay-banner">
        <div class="title-bar">INSTANT VIDEO REPLAY</div>
        <!-- <div class="main">
            <div class="flag" style="background-image:url('https://flagcdn.com/w40/az.png');"></div>
            <div class="code">AZE</div>
            <div class="name">GASHIM MAGOMEDOV (10)</div>
        </div> -->
    </div>

</body>

</html>